<div class='item-content'>
  <img class="app" src='img/favicon.png'>
  <h2>
    <span
      data-tap-disabled="true"
      editable-text="model.prefix" 
      buttons="no" 
      onbeforesave="update({prefix: $data})">
      {{model.prefix}}
    </span>
  </h2>
  <p>
    <span
      data-tap-disabled="true"
      editable-text="model.target" 
      buttons="no"
      onbeforesave="update({target: $data})">
      {{model.target}}
    </span>
  </p>
</div>
<ion-option-button 
  class="button button-assertive icon-left ion-trash-a" 
  ng-click="destroy()">
  Delete
</ion-option-button>
