@import "../lib/angular-xeditable/dist/css/xeditable.css"
@import "../lib/ng-sortable/dist/ng-sortable.css"
@import "../lib/ng-sortable/dist/ng-sortable.style.css"
@import "log_toast"

.as-sortable-item
  border-radius: 0

.editable
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.editable-click
  border-bottom: none
  &:hover
    cursor: pointer

.editable-text
  width: 100%
  .editable-controls
    width: 100%
    .editable-input
      width: 100%
